.app{
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #f63f2e, #ed412d);
}

.header__navbar{
    height:var(--navbar-header);
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.header__navbar-list{
    list-style: none; /* Bỏ dấu chấm của li*/
    padding-left: 0;
    padding-top: 4px;
    margin: 0;
}

.header_navbar-item{
    padding: 0 8px;
    position: relative;
    /* animation: Indate linear 0.3s; */
}

/* User */
.header_navbar-user{
    padding-left: 32px;
}
.header_navbar-user:hover .header_user-list-choose{
    display: block;
}

.header_navbar-user-icon{
    width: 22px;
    height: 22px;
    border: 1px solid #f53e2d;
    border-radius: 50%;
    transform: translateY(6px);
    position: absolute;
    top: -9px;
    left: 8px;
}

.header_navbar-user-name{
    font-size: 1.3rem;  
    font-weight: 400;
    margin-left: 4px;
    color: var(--white-color);
}

/* .header_navbar-user-name:hover{
    opacity: 0.6;
} */

.header_user-list-choose{
    position: absolute;
    top: calc(100% + 10px);
    right: 8px;
    width: 140px;
    background-color: var(--white-color);
    z-index: 1;
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
}

.header_user-list-choose::before{
    z-index: -1;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -27px;
    right: 39px;
}

.header_user-list-choose::after{
    content: "";
    width: 130px;
    height: 20px;
    position: absolute;
    top: -13px;
    right: 0;
}


.header_user-item-choose{
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.header_user-item-choose:hover .header_user-item-link{
    color: #30b566;
    background: #ccc;
}

.header_user-item-choose:first-child > .header_user-item-link{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header_user-item-choose:last-child > .header_user-item-link{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
 

.header_user-item-link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 16px;
}

.header_user-item-choose:last-child{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}


/* .header_navbar-item:hover .modal__overlay{
    display: block;
} */

.header_navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;  /* Đã định nghĩa ở base: <=> 15px */
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon:hover,
.header_navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.header_navbar-item-openQR:hover .header__qr{
    display: inline-block;
    animation: fadeIn linear 0.3s;
}

.header__navbar-show-notify:hover .header__notify{
    display: block;
}

.header_navbar-item-strong{
    font-weight: 400;
}

.header_navbar-item-seperate{
    border-right: 1px solid #f96653;
}

.navbar-item-translateX{
    transform: translateX(-2px);
}

.header_navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.8rem;
    transform: translateY(2px); /* căn chỉnh icon theo tọa độ y để khỏi lệch với chứ */
    margin: 0 4px;
}

.header_navbar-item-noPointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr{
    background-color:var(--white-color);
    width: 186px;
    padding: 8px;
    border-radius:2px;
    position: absolute;
    top: 24px;
    left: 8px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.header__qr::before{      /* Lớp giả tạo trước qr đẻ tạo cái cầu, tránh hover bị biến mất do có 1 khoảng cách*/
    content: "";
    width: 186px;
    height: 24px;
    position: absolute;
    top: -22px;
    left: 0px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.header_qr_link_dowload:first-child{
    padding-left:11px;
}

.header_qr_link_dowload:last-child{
    padding-right: 10px;
}


.header_qr_link_dowload{
    
}

.header__qr-download-img{
    height: 15px;
}

/* Header notification */

.header__notify{
    position: absolute;
    top: 26px;
    right: 8px;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    transform-origin: calc(100% - 32px) top; /* Chỉnh vị trí từ nhỏ phóng to ra*/
    animation: fadeNotifyGrow linear 0.2s;
    -o-animation: fadeNotifyGrow linear 0.2s;  /* Biểu thị hỗ trợ cho trình duyệt web nào*/
    will-change: opacity transform;  /* Tối ưu trình duyệt */
    display: none;
    z-index: 2;
}

/* Tạo cái mũi nhọn cho cái notifition thực chất là 1/4 hình vuông, bản chất là border của bất cứ thẻ nào */
.header__notify::before{
    content: "";
    border-width: 20px 30px;  /* Tạo cái border hình chữ nhật */
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent; /* Các màu khác trong suốt*/
    position: absolute;
    top: -27px;
    right: 0px;
}

.header__notify::after{
    content: "";
    width: 96px;
    height: 12px;
    position: absolute;
    top: -10px;
    right: 0px;
    /* background: #f96653; */
}

.header__notify-header{
    /* height: 40px; */
    background-color: var(--white-color);
    color: #666;
    padding-left: 12px;
}

.header__notify-header h3{
    line-height: center;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 12px 0 0;
    padding: 12px 0;
    cursor: default;
}

.header__notify-list{
    padding-left: 0;
    height: 60vh;
    overflow-y: auto;
    /* display: flex; */
}

.header__notify-item{
    padding-bottom: 16px;
    background-color: rgba(247, 71, 46, 0.1);
    list-style: none;
}

.header__notify-item:hover{
    background-color:#f7f7f7;
}

.header__notify-link{
    display:flex;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
    padding-left: 12px;
}

.header__notify-info{
    padding-left: 16px;
    line-height: 1.6;
}

.header__notify-title{
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom:4px;
}

.header__notify-content{
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.8rem;
}

.header__notify-footer{
    text-align: center;
    padding: 12px 0;
}

.header__notify-footer-btn{
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none; 
    color: var(--black-color);
    /* text-align: center; */
}

.header__notify-footer:hover {
    opacity: 0.8;
}

/* --------Form Login Reginer----------- */
.auth-form{
    overflow: hidden; /* Những cái nào bị tràn ra tự khắc bị ẩn*/
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    justify-content:space-between;    
    align-items: center;
    padding: 0 10px;
}

.auth-form__heading{
    font-size: 2rem;
    color: #333;
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__group{
    color: #ccc;
    margin-bottom: 12px;
}

.auth-form__input{
    font-size: 1.4rem;
    width: 100%;
    padding: 10px 18px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;  /*Khi nhấp chuột vào ô input thì border mặc định là màu đen đậm nên bỏ đi*/
}

.auth-form__input:focus{ /* Lớp giả tạo border riêng cho input*/
    border-color: #888;
}

.auth-form__outside{
    padding-top: 8px;
}

.auth-form__policy-text{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: #333;
}

.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 16px;
}

.auth-form__socials{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px;
}

/* Form help - login */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-color{
    color: var(--primary-color);
}

.auth-form__help-destance{
    border-right: 2px solid var(--border-color);
    height: 16px;
    margin: 0 16px;
}

/* -----------Header With Search---------- */
.header-with-search{
    height: var(--with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__mobile-search{
    padding: 0 8px;
    display: none;
}
.header__mobile-search-icon{
    font-size: 2.6rem;
    color: #fff;
}
.header__logo{
    width: 200px;
}

.header__logo-svg{
    width: 150px;
    color: var(--white-color);
    fill: currentColor;   /* Cách đổ màu cho svg bằng thuộc tính fill trong CSS*/
}
.header__logo-svg-link{
    display: block;
    line-height: 0;
}
.header__search-checkbox:checked ~ .header__search{
    display: flex;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.header__search-input-wrap{
    width: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 12px 0px 12px 16px;
    border-radius: 2px;
}


.header__search-select{
    border-left: 2px solid #edd;
    padding: 8px 0 8px 16px;
    /* padding-left:16px; */
    font-size:1.4rem;
    color: var(--text-color);
    min-width: 124px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.header__search-select:hover .header__search-option{
    display: block;
    animation: fadeIn linear 0.3s;
}

.header__search-select-icon{
    color: #4a4a4a;
    transform: translateY(1px);
    padding: 0 8px;
}

.header__search-btn{
    border: none;
    outline: none;
    width: 60px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 2px;
    margin: 0 2px;
}

.header__search-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size:1.4rem;
}

.header__cart{
    width: 150px;
    display: flex;
    position: relative;
    justify-content: center;

    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap{
    padding: 0 8px;
    cursor: pointer;
    position: relative;
}

/* cart notify */

.header__cart-icon{
    font-size: 2.6rem;
    color: var(--white-color);
    margin: auto;
}

.header__cart-icon-notice{
    position: absolute;
    top: -9px;
    right: 0;
    line-height: 1.4;
    padding: 0px 6px;
    color: var(--primary-color);
    background: var(--white-color);
    border-radius: 10px;
    border: 2px solid #f7442e;
}

.header__cart-wrap:hover .heard__cart-list {
    display: block;
}

.heard__cart-list {
    position: absolute;
    top: calc(100% + 11px);
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transform-origin: calc(100% - 20px) top;
    animation: fadeNotifyGrow linear 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.heard__cart-list::before{
    cursor: pointer;
    position: absolute;
    content: "";
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -24px;
    right: 2px;
}

.header__list--no-cart{
    padding: 28px 0;
    cursor: default;
}

.header__list--no-cart .header_no-cart--img,
.header__list--no-cart .header_no-cart_mess{
    display: block;
}

.header_no-cart--img{
    width: 54%;
    margin: auto;
    display: none;
}

.header_no-cart_mess{
    text-align: center;
    display: none;
    font-size: 1.4rem;
    color: var(text-color);
    padding-top: 20px;
}

.header__cart-removed-tablet{
    display: none;
}


.header__search-option{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px;
    margin: 0px;
    padding:0px;
    width: 122px;
    /* text-align: right; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; Do cái này nên cầu nối before tràn ra bị mất đi **LƯU Ý */
    display: none;
    z-index: 1;
}

.header__search-option::before{
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    width: 122px;
    height: 20px;
}

.header__search-option-item{
    line-height: 1.6;
    padding: 8px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}



.header__search-option-item:hover{
    background-color: #ccc;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    padding-left: 8px;
    display: none;
}

.header__search-option-show-icon i{
    display: inline-block;
}

/* History search */

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    top: calc(100% - -4px);
    width: calc( 100% - 20px);
    background-color: var(--white-color);
    box-shadow: 0 1px 4px #ccc;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

/* Header sort bar */
.header__sort-bar{
    position:fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    /* display: flex; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;

}
.header__sort-item{
    flex: 1;
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    /* Ở đây có thủ thuật */
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item.header__sort-item-active .header__sort-link{
    color: var(--primary-color);
    border-bottom: 2px solid;
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

.search__history-tilte{
    font-size: 1.4rem;
    color: #ccc;
    padding: 11px 16px;
    margin: 0;
}

.search__history-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.search__history-item{
    font-size: 1.4rem;
    padding: 11px 16px;
}

.search__history-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search__history-item a{
    text-decoration: none;
    color: var(--text-color);
}

.search__history-item:hover{
    background-color:#fafafa;
    cursor: pointer;
}

/* Cart Notify List Product */
.header__cart-heading{
    font-size: 1.6rem;
    font-weight: 400;
    padding: 12px 12px;
    margin: 0;
    color: #ccc;
    cursor: text;
}

.header__cart-list-item{
    padding: 0;
    margin: 0;
    max-height: 60vh;
    overflow-y: auto;
    /* cursor: default; */
}

.header__cart-item{
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 6px;
}

.header__cart-item:hover{
    background-color:#f8f8f8;
}

.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 4px 8px 4px 6px;
    border: 1px solid var(--border-color);
}

.header__cart--item-wrap{
    display: block;
    width: 100%;
}

.header__cart-item-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 4px; */
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--text-color);
    cursor: text;
    flex: 1;  /* Sử dụng các flex 1: để item có thể chiếm hết chiều dài còn lại */
    padding-right: 16px;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-price--wrap{
    cursor: text;
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiple{
    color: #757575;
    padding: 0 4px;
}

.header__cart-item-quantity{
    color: #757575;
    font-size: 1.3rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.header__cart-item-depcription{
    font-size: 1.3rem;
    color: #757575;
    font-weight: 400;
    cursor: text;
}

.header__cart-item-remote{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
}

.header__cart-item-remote:hover{
    color: var(--primary-color);
}

.header__cart-btn{
    margin: 8px 12px 16px auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container web shopee */
.container {
    background-color: #f5f5f5;
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 12px 16px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    transform: translateY(-1px);
}

.category-list {
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 7px;
    content: "";
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);

}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 16px;
    /* tạo sự chuyển động giống animation đơn giản sang phải khi hover */
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Mobile category */
.mobile-category{
    display: none;
}

.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-width: 100%;  /*Chiều rộng lớn nhất là 100% khi nó đủ chữ*/
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar{
    display: none;
}

.mobile-category__item{
    /* Vì mặc định flex-shrink: 1; làm cho các con item của list khi vượt quá chiều rộng
    của thẻ cha thì nó co lại, bỏ đi thì nó sẽ thành chiều ngang */
    flex-shrink: 0;
    margin-right: 14px;
    margin-bottom: 5px;
}

.mobile-category__item:last-child{
    margin-right: unset;
}

.mobile-category__item:nth-of-type(3n) .mobile-category__link{
    background-color: #87AFD8;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #88CF81;
}

.mobile-category__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 4px;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  /* Dấu ... ở dòng thứ 2*/
    align-items: center;
    text-align: center;
    width: 110px;
    border-radius: 4px;

    /* Trải nghiệm người dùng chọn nó tự bị bôi đen, nên bỏ đi */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
}


/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);

 }

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color, #555);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child{

    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* ------------Product list------------ */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition:  transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.home-product__img {
    /* padding-bottom: 100% đều được
     * Bản chất BAN ĐẦU style: background-img ở bên html luôn nên height ban đầu mặc định = 0
     * top or bottom = 100% là kế thừa đủ chiều cao của ảnh = chiều rộng của ảnh đối với thẻ CHA */
     /* Not dùng được:  height: 100%; */
    padding-top: 100%;
    background-repeat: no-repeat; /* Ảnh ko bị lặp*/
    background-size: contain;  /* Hiển thị trọng tâm bức ảnh*/
    background-position: center; /* Tùy */
}

.home-product__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;

    /* Css cho tên không dài quá 1 dòng: */
    /* overflow: hidden;
    display: block; */
    /* white-space: nowrap;  Cho dòng text chạy trên một hàng */
    /* text-overflow: ellipsis; Thêm dấu ... ở phần sắp bi tràn */

    /* Css cho tên dài 2 dòng: */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  /* Dấu ... ở dòng thứ 2*/
}

.home-product__price {
    display: flex;
    align-items: baseline;  /* Căn chân chữ của 2 item = nhau */
    margin-left: 10px;
    flex-wrap: wrap;
    line-height: 1.4;
}

.home-product__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through; /* gạch ngang ở giữa chữ*/
    margin-right: 10px;
}

.home-product__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px 0;
}

.home-product-item__like{
    font-size: 1.3rem;
}
.home-product-item__like-liked{

}
.home-product-item__icon-like-no{
    color: #999;
}

i.home-product-item__icon-like-yes{
    color: var(--primary-color);
    display: none;
}

/* --Trường hợp khi đã like thì hiện tim like và ẩn time chưa like */
.home-product-item__like-liked .home-product-item__icon-like-yes {
    display: block;
}
.home-product-item__like-liked .home-product-item__icon-like-no {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__icon-rating {
    color: var(--star-gold-color);
}

.home-product-item__bought {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 8px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;  /* Ăn theo màu của của color*/
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;  /*  Trục tọa độ cha là favourite */
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;  /* Tạo border tam giác 1/2*/
    border-left: 3px solid transparent;
    filter: brightness(60%)   /* Giảm độ sáng của background*/
}

.home-product-item__favourite span {
    color: var(--white-color);   
}

.home-product-item__icon-favourite {
    color: var(--white-color);
    font-size:  0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    color: rgba(230, 197, 41, 0.94);
    background-color: currentColor;
    text-align: center;
}

.home-product-item__sale-off-precent {
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    padding-top: 4px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    transform: translateY(-1px);
}

/* Cách 1: Cách của anh Sơn */
.home-product-item__sale-off::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

/* Cách 2: Tự suy luận */
/* .home-product-item__sale-off::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    border-top: 4px solid currentColor;
    border-right: 20px solid transparent;
}

.home-product-item__sale-off::after {
    position: absolute;
    top: 100%;
    right: 0;
    content: "";
    border-top: 4px solid currentColor;
    border-left: 20px solid transparent;
} */

/* ----------Pagination: Thanh điều hướng--------- */
.home-product__pagnation {
    margin: 48px 0 32px;
    padding-left: 0;
}
